* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 16px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
}

.header-links {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    padding: 62px 150px;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    max-width: 460px;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
    max-width: 460px;
}

.hero-img {
    width: 50%;
    height: auto;
    padding-left: 32px;
}

.hero-btn {
    background-color: #3882f6;
    color: #fff;
    padding: 8px 32px;
    cursor: pointer;
    border: 0px;
    border-radius: 8px;
    margin-top: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 150px 120px;
}

.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 32px;
}

.info-content {
    display: flex;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-img {
    height: 200px;
    width: auto;
    margin-bottom: 16px;
    border-radius: 20px;
    border: 5px solid #3882f6;
}