* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 16px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
}

.header-links {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    padding: 62px 150px;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    max-width: 460px;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
    max-width: 460px;
}

.hero-img {
    width: 50%;
    height: auto;
    padding-left: 32px;
}

.hero-btn {
    background-color: #3882f6;
    color: #fff;
    padding: 8px 32px;
    cursor: pointer;
    border: 0px;
    border-radius: 8px;
    margin-top: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 150px 120px;
}

.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 32px;
    text-align: center;
}

.info-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 8px;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-basis: 200px;
    color: #1f2937;
}

.info-img {
    height: 200px;
    width: auto;
    margin-bottom: 16px;
    border-radius: 20px;
    border: 5px solid #3882f6;
}

.quote {
    background-color: #e5e7eb;
    padding: 120px 250px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
    font-style: italic;
}

.quote-author {
    align-self: flex-end;
    margin-top: 16px;
    color: #1f2937;
    font-weight: 900;
}

.signup {
    background-color: #3882f6;
    margin: 64px 150px 88px;
    padding: 32px 64px;
    display: flex;
    color: #f9faf8;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    gap: 32px;
}

.signup-title {
    font-size: 28px;
}

.signup-text {
    color: #e5e7eb;
}

.signup-btn {
    background-color: #3882f6;
    color: #fff;
    padding: 8px 32px;
    cursor: pointer;
    border: 2px solid #f9faf8;
    border-radius: 8px;
    margin-top: 10px;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 32px;
    text-align: center;
}